* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	font-weight: 700;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #2e3440;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #eceff4;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
	transition: none;
	color: #88c0d0;
	background: #434c5e;
	font-size: 4px;
	border-radius: inherit;
}

#workspaces button.focused {
	color: #ABE9B3;
	border-top: 2px solid #ABE9B3;
	border-bottom: 2px solid #ABE9B3;

}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	background: #4c566a;
	border-radius: inherit;
   	border-color: #88c0d0;
    	color: #88c0d0;
}

#workspaces button.focused:hover {
    color: #E8A2AF;
}

#bluetooth {
	margin-left: 5px;
	margin-right: 1px;
}

#network {
	margin-left: 1px;
	margin-right: 5px;
}

#connections {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}
#wireplumber {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}


@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}


#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #2e3440;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #5e81ac;
	background: #2e3440;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}



